@import "./variables.scss";
@import "./vant-cpm.scss";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// html,
// body {
//   margin: 0;
//   height: 100%;
//   width: 375px;
// }

.app-container {

  background-color: $app-background-color;

  .app-header {}

  .app-body {
    height: calc(100vh - var(--van-nav-bar-height) - var(--van-tabbar-height));
    overflow: auto;
  }

  .app-body-noNavBar {
    height: calc(100vh - var(--van-tabbar-height));
    overflow: auto;
  }

  .app-body-noTabBar {
    height: calc(100vh - var(--van-nav-bar-height));
    overflow: auto;
  }

  .app-body-noNavBar-noTabBar {
    height: calc(100vh);
    overflow: auto;
  }

  .app-footer {}

}

// 多行溢出隐藏
.ellipsis-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; // 行数
  overflow: hidden;
}

.empty-class {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
